@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/styles.css" />
}

<div class="container mt-5">
    <h1 class="text-center">Snacks del SENA!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn1.totalcommerce.cloud/mercacentro/product-zoom/es/chocorramo-miti-pack-x5-x-200-g-1.webp" class="card-img-top" alt="Snack 1">
                <div class="card-body">
                    <h5 class="card-title">Chocorramo</h5>
                    <p class="card-text">$6.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEzyLetE_sTuQOYi7jFKCsvsNF20zOxjWIRw&s" class="card-img-top" alt="Snack 2">
                <div class="card-body">
                    <h5 class="card-title">Papitas de limon</h5>
                    <p class="card-text">$10.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://dulcescolombianos.com/wp-content/uploads/2022/10/dulces-colombianos-viejos-antiguos.jpg" class="card-img-top" alt="Snack 3">
                <div class="card-body">
                    <h5 class="card-title">Dulces varios</h5>
                    <p class="card-text">$500 - $3.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
